html,body{
	font: 0.9em Tahoma !important;
	color: #424242;
}

.wrapper{
	width: auto;
	min-width: 960px;
	padding: 5px;
}

#display-time{
	font-size: 1.2em;
	margin: 10px 0px;
	display: block;
}

a.link{
	text-decoration: none;
	color: #0492D0;
	display: block;
	padding: 5px 0px;
}

.search-time{
	margin: 8px 0;
}

.btn{
	border: 1px solid #b1b1b1;
	padding: 2px 10px;
	cursor: pointer;
}

.btn:hover{
	background: #c1c1c1;
}

.tbl{
	border-left: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
}

.tbl td{
	border-top: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	text-align: center;
}

.th{
	background: #0492D0;
	color: #FFFFFF;
	padding: 4px 5px;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
}

.celldiv{
	height: 18px;
	overflow: hidden;
	padding: 2px 5px;
}

.time{
	background: #F9EDBE;
}
