html,body{
	font: 0.9em Tahoma !important;
	color: #424242;
}

.wrapper{
	width: auto;
	min-width: 960px;
	padding: 5px;
}

.tbl{
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;
}

.tbl td{
	padding: 4px 5px;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
	text-align: center;
}

.th{
	background: #0492D0;
	color: #FFFFFF;
	padding: 4px 5px;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
}

.time{
	background: #F9EDBE;
}
